.todos-list {
  border: 2px solid black;
  border-radius: 15px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: 30px;
  height: 75px;
  padding: 5px;
  height: 90px;
}

.add-todo-button {
  float: right;
  margin-left: 110px;
}

.add-todo {
  border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  padding: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

.addTodo-buttons {
  float: right;
  margin-top: 20px;
}

.addTodo-buttons button {
  margin-right: 5px;
}